GymAbiLite /app/SVWS-TestMDBs/GOST_Abitur/Abi-Test-Daten-01/GymAbi.sqlite
ENM1 /app/SVWS-TestMDBs/ENM-Json/ENM-Testdaten-01/ENM_SVWS.sqlite
ENM2 /app/SVWS-TestMDBs/ENM-Json/ENM-Testdaten-02/ENM_SVWS.sqlite
ENM3 /app/SVWS-TestMDBs/ENM-Json/ENM-Testdaten-03/ENM_SVWS.sqlite
